@import "common/foundation/mixins";

$max-width: 875px;
$coupa-neutral-medium: #999;

.display-search-banner {
  #main-outlet {
    padding-top: 0;
  }
}

.custom-search-banner-wrap {
  @if $background-image != "none" {
    background-image: url($background-image);
  } @else {
    background: none;
  }
  @if $tile-background_image == "true" {
    background-size: auto;
  } @else {
    background-size: cover;
    background-repeat: no-repeat;
  }
  box-sizing: border-box;
  position: relative;
  padding: 2.5em 0 3em;
  margin: 1em auto;
  @include breakpoint(tablet) {
    padding: 1em 8px 2em;
    margin-top: 0.5em;
  }

  > div {
    margin: 0 auto;
    max-width: $max-width;
  }

  .search-menu {
    position: relative;
    display: flex;
    input[type="text"] {
      margin: 0;
      width: 100%;
      font-family: "OpenSansRegular",Helvetica,Arial,sans-serif;
      border-radius: 4px;
      padding-right: 4em;
      height: 45px;
      font-size: 1.3em;
    }
    input[type="text"]:focus {
      box-shadow: 0 0 6px #fab882;
      border-color: #f27921;
    }
    input[type="text"]::placeholder {
      color: $coupa-neutral-medium;
    }
  }

  .search-input {
    flex: 1 1 auto;
    margin: 0;
    padding: 0;
    .searching {
      // spinner
      top: 0.8em;
      right: 2.40em;
      width: 2em;
    }
  }

  // spinner height for coupa discourse search banner
  .search-menu .searching .spinner {
    height: 0.9em;
    width: 0.9em;
  }

  h1 {
    font-size: $font-up-6;
    line-height: $line-height-medium;
    @include breakpoint(tablet) {
      font-size: $font-up-4;
    }
  }

  h1,
  h3 {
    text-align: center;
  }

  .search-icon {
    position: absolute;
    z-index: 2;
    order: 2;
    right: 0;
    font-size: 1.7511em;
    background: transparent;
    .discourse-no-touch & {
      &:hover {
        background: transparent;
        .d-icon {
          color: $primary-high;
        }
      }
    }
  }

  .search-context,
  .results {
    margin: 0 auto;
    max-width: $max-width;
  }

  .search-context {
    position: absolute;
    z-index: 10;
    right: 0;
    top: 2.67em;
    margin-top: 1em;
    display: inline-flex;
    align-items: center;
    label {
      margin-right: 1em;
    }
  }

  .results {
    box-sizing: border-box;
    background: $secondary;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    position: absolute;
    width: $max-width;
    z-index: 9;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    top: 2.67em;
    right: 0;
    padding: 2em 1em 1em 1em;
    @include breakpoint(mobile-extra-large) {
      width: 100%;
    }
    ul,
    ol {
      list-style-type: none;
      margin: 0;
    }
  }
}

.search-widget {
  div.discourse-tags {
    font-size: $font-down-1;
  }
  li a.widget-link {
    display: block;
    padding: 0.25em 0.5em;
    &:hover,
    &:focus {
      background-color: $highlight-medium;
    }
  }
}
